## DELETE THIS LINE!! - Rename This File to credentials.json and replace the fields ##
{
  "twitchCredentials": {
    "clientID" : "YOURCLIENTIDHERE",
    "clientSecret" : "YOURCLIENTSECRETHERE"
  }
}
