@model IQueryable<VideoGame>

    <DocType html>
<div class="text-center">
    <h1 class="display-4">Welcome To Video Game Store</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-primary" asp-Controller="Home" asp-action="VideoGameForm">Form for adding a videogame to the List</a>
</div>
@foreach (var p in Model ?? Enumerable.Empty<VideoGame>())
{
    <div class="card">
        <h3>@p.ProductName</h3>
        @p.Description
        <p>@p.Price.ToString("c")</p>
        <button>Delete</button>
        <button>Details</button>
        <button>Add to Cart</button>
    </div>
    

}