@model IQueryable<VideoGame>
@foreach (var p in Model ?? Enumerable.Empty<VideoGame>())
{
    <div class="card">
        <h3>@p.ProductName</h3>
        @p.Description
        <p>@p.Price.ToString("c")</p>
    </div>
}