@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VideoGamesReboot24.Models.VideoGame
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Thank You</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <div>
        <h1>Thank you for sending, @Model.ProductName!</h1>

    </div>
    click <a asp-action="VideoGameList"> Here</a> to all the other options for video games.
</body>



</html>
