<div class="w-100 m-auto text-center" style="max-width:330px;">
    <h1 class="h3 mb-3 fw-normal">Admin Page</h1>
    <div class="d-flex justify-content-between">
        <a class="btn btn-primary btn-square" asp-controller="Admin" asp-action="ManageUsers">Manager Users</a>
        <a class="btn btn-primary btn-square" asp-controller="" asp-action="">Other Admin Stuff</a>
    </div>
</div>