@model VideoGamesReboot24.Models.ViewModels.UserRegistration

<div class="w-100 m-auto" style="max-width:330px;">
    <form asp-action="Register" method="post">
        <h1 class="h3 mb-3 fw-normal">Register</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-floating mb-2">
            <input asp-for="UserName" type="username" class="form-control" id="floatingInput" placeholder="Username">
            <label asp-for="UserName" for="floatingInput">Username</label>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="Email">
            <label asp-for="Email" for="floatingInput">Email</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-2">
            <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label asp-for="Password" for="floatingPassword">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="confFloatingPassword" placeholder="Confirm Password">
            <label asp-for="ConfirmPassword" for="confFloatingPassword">Confirm Password</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <input class="btn btn-primary w-100 py-2 my-3" type="submit" value="Register">
    </form>
    <span>Already have an account? <a class="" asp-controller="Account" asp-action="Login">Login Here.</a></span>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}